{
  "presets": [
    "babel-preset-react",
    [
      "babel-preset-env",
      {
        "modules": false,
        "targets": {
          "ie": 9
        }
      }
    ]
  ],
  "plugins": [
	"transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "import",
      {
	      "libraryName": "antd",
	      "style": true
      }
    ]
  ]
}
